<launch>

  <!-- <node pkg="tf" type="static_transform_publisher" name="simulate"
   args="0.75 0 0.75 0 0 0 /openni_camera /vr920_base 100" /> -->
   
   <node pkg="tf" type="static_transform_publisher" name="vr920_base_transform"
   args="0 0 0 1.57 1.57 0  /head /vr920_base 100" />
   
   
  <node name="vr920_tracker_node" pkg="vr920_tracker" type="vr920_tracker_node" />

</launch>

