<launch>
  
  <!-- <node pkg="veltrobot_sensors" type="uvc_stereo_acquire_compact" name="stereo0">    
    <param name="stereoName" value="stereo0" />    
    <param name="buffers" value="1" />
    <param name="fps" value="1" />
    <param name="width" value="640" />
    <param name="height" value="480" />
    <param name="deviceL" value="/dev/video0" />
    <param name="deviceR" value="/dev/video1" />
  </node> -->
  <!--<node pkg="veltrobot_sensors" type="uvc_stereo_acquire_compact" name="stereo1">    
    <param name="stereoName" value="stereo1" />    
    <param name="buffers" value="15" />
    <param name="fps" value="15" />
    <param name="width" value="640" />
    <param name="height" value="480" />
    <param name="deviceL" value="/dev/video2" />
    <param name="deviceR" value="/dev/video3" />
  </node>-->

  <!-- Home Built Stereo with empia usb cards -->
  <node pkg="veltrobot_sensors" type="acquire_stereo" name="acquire_stereo">    
    <param name="stereo_name" value="stereo_yuyv" />    
    <param name="buffers" value="2" />
    <param name="fps" value="4" />
    <param name="width" value="200" />
    <param name="height" value="150" />
    <param name="left_device" value="/dev/video0" />
    <param name="right_device" value="/dev/video1" />
    <param name="standard" value="NTSC" />
  </node>
  
  <!-- Minoru stereo -->
  <!-- <node pkg="veltrobot_sensors" type="acquire_stereo" name="acquire_stereo">    
    <param name="stereo_name" value="stereo_yuyv" />    
    <param name="buffers" value="1" />
    <param name="fps" value="1" />
    <param name="width" value="640" />
    <param name="height" value="480" />
    <param name="left_device" value="/dev/video1" />
    <param name="right_device" value="/dev/video0" />
    <param name="standard_str" value="DEFAULT" />
  </node> -->

</launch>

