<launch>
  <node pkg="veltrobot_sensors" type="republish_stereo" name="republish_stereo">
    <param name="calibration" command="cat $(find veltrobot_data)/conf/ost.txt" />
  </node>

  <node ns="stereo" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
    <!-- 9  31 15 0  64 15 10  100 4 -->
    <!-- 21 63 21 0 128 10 100 100 4 -->
    <!-- 21 63 21 4 128 15 10  500 4 -->
    <param name="prefilter_size" value="21" />
    <param name="prefilter_cap" value="63" />
    <param name="correlation_window_size" value="21" />
    <param name="min_disparity" value="2" />
    <param name="disparity_range" value="128" />
    <param name="uniqueness_ratio" value="15" />
    <param name="texture_threshold" value="100" />
    <param name="speckle_size" value="350" />
    <param name="speckle_range" value="4" />
  </node>
</launch>
