<launch>  
  <node pkg="roboard_sensors" type="i2c_device_manager_node" name="i2c_device_manager" >
  	<param name="spin_rate" value="200" />
  	 <rosparam command="load" file="$(find veltrobot_data)/conf/i2c_devices.yaml" />
  </node>
  
  <!-- <node pkg="roboard_sensors" type="poll_ad" name="poll_ad" >
  	<param name="fps" value="60" /> 
  	<rosparam command="load" file="$(find veltrobot_data)/conf/ad_devices.yaml" />
    <param name="publish_raw" value="true" />
  </node> -->
</launch>
