<launch>

  <!-- <node pkg="usb_cam" type="usb_cam_node" name="left_cam">
    <param name="video_device" value="/dev/video0"/>
    <param name="pixel_format" value="yuyv"/>
    <param name="image_width" value="480"/>
    <param name="image_height" value="360"/>
    <param name="io_method" value="mmap"/>
  </node>
  <node pkg="usb_cam" type="usb_cam_node" name="right_cam">
    <param name="video_device" value="/dev/video1"/>
    <param name="pixel_format" value="yuyv"/>
    <param name="image_width" value="480"/>
    <param name="image_height" value="360"/>
    <param name="io_method" value="mmap"/>
  </node> -->
  
  <!-- <node pkg="veltrobot_sensors" type="v4l2_stereo_acquire" name="stereo">
    <param name="left_video_device" value="/dev/video0"/>
    <param name="left_pixel_format" value="yuyv"/>
    <param name="left_image_width" value="480"/>
    <param name="left_image_height" value="360"/>
    <param name="left_io_method" value="mmap"/>
    <param name="right_video_device" value="/dev/video1"/>
    <param name="right_pixel_format" value="yuyv"/>
    <param name="right_image_width" value="480"/>
    <param name="right_image_height" value="360"/>
    <param name="right_io_method" value="mmap"/>
    <param name="fps" value="2"/>
  </node>  -->
  
  <!-- <node pkg="veltrobot_sensors" type="uvc_stereo_acquire_compact" name="stereo0">    
    <param name="stereoName" value="stereo0" />    
    <param name="buffers" value="1" />
    <param name="fps" value="1" />
    <param name="width" value="640" />
    <param name="height" value="480" />
    <param name="deviceL" value="/dev/video0" />
    <param name="deviceR" value="/dev/video1" />
  </node> -->
  <!--<node pkg="veltrobot_sensors" type="uvc_stereo_acquire_compact" name="stereo1">    
    <param name="stereoName" value="stereo1" />    
    <param name="buffers" value="15" />
    <param name="fps" value="15" />
    <param name="width" value="640" />
    <param name="height" value="480" />
    <param name="deviceL" value="/dev/video2" />
    <param name="deviceR" value="/dev/video3" />
  </node>-->

  <node pkg="veltrobot_sensors" type="acquire_stereo" name="acquire_stereo">    
    <param name="stereo_name" value="stereo_yuyv" />    
    <param name="buffers" value="1" />
    <param name="fps" value="1" />
    <param name="width" value="640" />
    <param name="height" value="480" />
    <param name="left_device" value="/dev/video0" />
    <param name="right_device" value="/dev/video1" />
    <param name="standard" value="NTSC" />
    <!-- <param name="standard_str" value="DEFAULT" /> -->
  </node>

</launch>

